<div class= "pink"></div>
<div class= "grey"></div>
  <img src="images/beach.jpg" alt="beach" height="338" width="536" class="beach-img">
<div class="contain">
  <div class="center">
    <div class="title">
    <h1> SAM RICOTTA </h1>
  </div>
    <div class="center-left">
      <img src="images/Luana.JPG" alt="Lu" height="520" width="355">
    </div>
    <div class="center-right">
      <div class="nav-bar">
        <p>ABOUT</p>
        <p>PORTFOLIO</p>
        <p>CONTACT</p>
      </div>
      <div class= "text">
        <h4> FULL STACK DEVELOPER </h4>
      </div>
    </div>
  </div>
</div>
